black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
plotly
mkdocs
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
tqdm
typer
h5py
h5pickle
tensorboard
-e .
fastapi>=0.68.0
uvicorn>=0.15.0
optuna
optuna-dashboard